<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#/dashboard">Home</a>
        </li>
        <li class="active">Notifications</li>
    </ul>
</div>
<!--div class="page-content">

<div class="row">
<div class="space-6"></div>
<div class="col-sm-10 col-sm-offset-1">
    <div id="notification-box" class="notification-box visible widget-box no-border">
        <div class="widget-body">
            <div class="widget-main"-->
                <br/>
                <div class="space-16"></div>
                UID: {{uid}}
                <br/>NAME: {{name}}
                <br/>ACNT ROLE: {{role}}
                <br/>
                <h4 class="header blue lighter bigger">
                    <i class="icon-coffee green"></i>
                    Notifications
                </h4>

                <br/>
                {{date}}
                <br/>
                <br/>

                Notifications:
                <br/>
                <select class="col-sm-1" name="notification" id="notification" ng-model="notification" ng-change = "getNotificationMessage()">
                    <option ng-repeat="row in notifications" value="{{row}}">{{row}}</option>
                </select>
                <br/>
                    {{notMessage}}
                <br/>
                <br/>
                <button ng-click = "deleteNotification()">Delete Notificiation </button>
                <br/>
                <br/>
                <br/>
                <div ng-if="role == 'admin' || role == 'team_lead'">
                    Temp Notifications:
                    <br/>
                    <select class="col-sm-1" name="tempnot" id="tempnot" ng-model="tempnot" ng-change = "getPendingNotificationMessage()">
                        <option ng-repeat="row in tempNots" value="{{row}}">{{row}}</option>
                    </select>
                    <br/>
                        {{tempNotMessage}}
                    <br/>
                    <br/>
                    <button ng-click = "approveNotification()">Approve Notificiation </button>
                    <br/>
                    <button ng-click = "tempDeleteNotification()">Delete Notificiation </button>
                </div>
                <br/>
                <div class="col-sm-16"><a href="#/addnotification">Add Notification</a></div>
                <br/>
                <br/>
            



            <!--/div><!-- /widget-main -->


        <!--/div><!-- /widget-body -->
    <!--/div><!-- /notification-box -->

<!--/div><!-- /position-relative -->
<!--/div>
<!--/div><!-- /.page-content -->
