<h1>Create Project</h1>
<ul class="nav nav-pills">
  <li ng-repeat="step in steps" role="presentation" ng-class="{'active':step.active,'disabled':!step.active && !step.visited}"><a ng-click="setActiveTab($index);">Home</a></li>

</ul>

<div ng-if="steps[0].active">
  <h4>Step 1</h4>
  <form class="form-horizontal">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Project owner</label>
      <div class="col-sm-10">
        <input  class="form-control" placeholder="Project owner" ng-model="form.projectOwner">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Project Description</label>
      <div class="col-sm-10">
        <input  class="form-control"  placeholder="Project Description" ng-model="form.projectDescription">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" ng-click="setActiveTab(1);">Next</button>
      </div>
    </div>
  </form>
</div>

<div ng-if="steps[1].active">
  <h4>Step 2</h4>
  <form class="form-horizontal">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Important Project Detail</label>
      <div class="col-sm-10">
        <input  class="form-control"  placeholder="Details" ng-model="form.projectDetails">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="form.important"> This is important
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" ng-click="setActiveTab(2)">Next</button>
      </div>
    </div>
  </form>
</div>

<div ng-if="steps[2].active">
  <h4>Step 3</h4>
    <form class="form-horizontal">
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Final Attribute</label>
      <div class="col-sm-10">
        <input class="form-control"  placeholder="Finally" ng-model="form.final">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" ng-click="saveProject()">Submit</button>
      </div>
    </div>
  </form>
</div>
